<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.askhento.squoosh</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2427C965-4335-4897-B138-5BB7572425DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0797293-C6BB-46FD-AC88-F09AA9D269F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61245727-0605-4219-B909-D5CC16700DC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>373F3908-E21C-4245-ACC7-55B15C7E2002</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F18FD9AD-2AEE-4B0E-8A6F-B625E2F94858</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>554DF061-0CBB-4FE4-9EDD-A00A10E20357</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9741A5C0-CC0F-4762-87F1-8677DFF5CFDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAA6D377-5AB5-477C-A50B-C667919A5387</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5865131-37FA-40BD-B3F7-DAB6349B30E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9741A5C0-CC0F-4762-87F1-8677DFF5CFDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAA6D377-5AB5-477C-A50B-C667919A5387</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61245727-0605-4219-B909-D5CC16700DC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0797293-C6BB-46FD-AC88-F09AA9D269F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5865131-37FA-40BD-B3F7-DAB6349B30E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Askhento</string>
	<key>description</key>
	<string>Batch resize and convert images</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Squoosh</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
tell application "Finder" to set theSel to selection as alias listrepeat with i from 1 to count of theSel	set item i of theSel to POSIX path of item i of theSelend repeatreturn theSel
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B5865131-37FA-40BD-B3F7-DAB6349B30E3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node --no-experimental-fetch index.js '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CAA6D377-5AB5-477C-A50B-C667919A5387</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sq</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Squooosh</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2427C965-4335-4897-B138-5BB7572425DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>success</string>
						<key>outputlabel</key>
						<string>Process complete</string>
						<key>uid</key>
						<string>F18FD9AD-2AEE-4B0E-8A6F-B625E2F94858</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Nothing selected</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>61245727-0605-4219-B909-D5CC16700DC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:params}|{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9741A5C0-CC0F-4762-87F1-8677DFF5CFDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>params</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D0797293-C6BB-46FD-AC88-F09AA9D269F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Files succesfully written</string>
				<key>title</key>
				<string>Done!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>373F3908-E21C-4245-ACC7-55B15C7E2002</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>At least one file...</string>
				<key>title</key>
				<string>Nothing selected!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>554DF061-0CBB-4FE4-9EDD-A00A10E20357</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2427C965-4335-4897-B138-5BB7572425DD</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>373F3908-E21C-4245-ACC7-55B15C7E2002</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>554DF061-0CBB-4FE4-9EDD-A00A10E20357</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>61245727-0605-4219-B909-D5CC16700DC2</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>9741A5C0-CC0F-4762-87F1-8677DFF5CFDB</key>
		<dict>
			<key>note</key>
			<string>combine files and params</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>B5865131-37FA-40BD-B3F7-DAB6349B30E3</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Get selection POSIX filespaths</string>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>CAA6D377-5AB5-477C-A50B-C667919A5387</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>D0797293-C6BB-46FD-AC88-F09AA9D269F1</key>
		<dict>
			<key>note</key>
			<string>save params for later</string>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/Askhento</string>
</dict>
</plist>
